<!-- Using index.ejs file to compose html file via ejs engine  -->
<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs %>




<!--  MAIN CONTENT -->
<main class="container">
<div class="jumbotron">
<h1 class="display-4">Welcome to my <%= title %></h1>
</div>

</main>
 

<%- include partials/bottom_nav.ejs%>


<%- include partials/footer.ejs%>






